<% include partials/header %>

<div class="container text-center">
    <h1 class="text-warning">Page not found!</h1>
    <p>
        The page you are looking for isn't here. If you clicked a link, you can report this. If you typed in the url, make sure things are spelled correctly.
        <br>
        <a class="btn btn-success" href="/">Go home</a>
    </p>
</div>

<% include partials/footer %>
