<% include partials/header %>

<h1>
	Make a new campground
</h1>
<form action="/campgrounds" method="POST">
	<input Campgroundype="text" placeholder="Name of Campground">
	<input type="text" placeholder="Image URL Address">
	<button type="submit">
		Submit
	</button>
</form>

<% include partials/footer %>